<form>
	<input type="text" id="one" ng-model="wordModel" />
	<input type="text" id="two" ng-model="wordModel2" />
	<input type="text" id="three" ng-model="wordModel3" />
	<input type="text" id="four" ng-model="wordModel4" />
	<input type="text" id="five" ng-model="wordModel5" />
	<input type="text" id="six" ng-model="wordModel6" />
	<input type="text" id="seven" ng-model="wordModel7" />
	
	<input type="submit" ng-click="getWords(wordModel, wordModel2, wordModel3, wordModel4, wordModel5, wordModel6, wordModel7)" />
</form>